<nav class="navbar navbar-light bg-light w-100">
  <div class="container-fluid d-flex mob-nav ms-auto align-items-center position-fixed w-100">
    <!--     
    <a routerLink="/">
      <img src="assets/images/Logo-stl.svg" class="img-fluid stl-logo ml-5" alt="Logo" />
    </a> -->

    <!-- new logo try with tooltip -->
    <div class="tooltip-container" (mousemove)="onMouseMove($event)" (mouseleave)="onMouseLeave()">
      <a routerLink="/">
        <img src="assets/images/Logo-stl.svg" class="img-fluid stl-logo ml-5" alt="Logo" />
      </a>
      <div
        class="tooltip"
        [style.top.px]="tooltipY"
        [style.left.px]="tooltipX"
        [class.visible]="showTooltip"
      >
        Go to Home
      </div>
    </div>

    <nav class="nav-links main-menu ms-auto mob-nav-item">
      <ul class="navbar-nav main-menu ms-auto mob-nav-item" [class.open]="isMenuOpen">
        <li class="main-menu-item"></li>
        <li class="main-menu-item">
          <a
            class="btn btn-drop dropdown-toggle nav-link custom-about-link"
            routerLink="/about"
            routerLinkActive="active"
          >
            About Us
          </a>
        </li>
        <li class="main-menu-item">
          <a
            class="btn btn-drop dropdown-toggle nav-link"
            routerLink="/services"
            routerLinkActive="active"
          >
            Services
          </a>
        </li>
        <li class="main-menu-item">
          <a
            class="btn btn-drop dropdown-toggle nav-link"
            routerLink="/career"
            routerLinkActive="active"
          >
            Career
          </a>
        </li>
        <li class="main-menu-item">
          <a
            class="btn btn-drop dropdown-toggle nav-link"
            routerLink="/contact"
            routerLinkActive="active"
          >
            Contact Us
          </a>
        </li>
      </ul>
    </nav>

    <div
      class="menu-click"
      (click)="toggleMenu()"
      [class.open]="isMenuOpen"
      [class.active]="isMenuOpen"
    >
      <span></span>
      <span></span>
      <span></span>
    </div>

    <div class="side-menu" [class.open]="isMenuOpen" tabindex="0">
      <div class="nav-side-menu">
        <a routerLink="/home" (click)="closeMenu()" class="side-menu-link">Home</a>
        <a routerLink="/about" (click)="closeMenu()" class="side-menu-link">About</a>
        <a routerLink="/services" (click)="closeMenu()" class="side-menu-link">Services</a>
        <a routerLink="/career" (click)="closeMenu()" class="side-menu-link">Career</a>
        <a routerLink="/contact" (click)="closeMenu()" class="side-menu-link">Contact</a>
      </div>
      <div class="contact">
        <h3 class="stl_name">Prath Technologies Pvt. Ltd.</h3>
        <p><i class="fa fa-envelope"></i>contact&#64;prathtech.com</p>
        <p><i class="fa fa-phone"></i> +91 674 2973271</p>
        <p>
          <i class="fa fa-home"></i>
          Address: Plot no 364, 2nd Floor, Janpath, Saheed Nagar, Bhubaneswar, Odisha 751007, India
        </p>

        <p class="socials">Follow Us at</p>
        <div class="images">
          <i
            class="bi bi-facebook social-icon facebook-icon"
            style="font-size: 2.5rem; color: #f2f2f278"
          ></i>

          <i
            class="bi bi-linkedin social-icon linkedin-icon"
            style="font-size: 2.5rem; color: #f2f2f278"
          ></i>
        </div>
      </div>
    </div>

    <div class="blur-overlay" [class.active]="isMenuOpen" (click)="closeMenu()"></div>
  </div>
</nav>

<div class="blur-overlay" [class.active]="isMenuOpen" (click)="closeMenu()"></div>
