<section class="ondemand-section">
  <div class="container text-overlay">
    <div class="ondemand-flex-wrapper">
      <section class="technologies-section">
        <div class="tech-header">
          <h2>PRATH TECH Leverages 50+ Technologies</h2>
          <span class="tech-header-bold">to Drive Client Success</span>
          <p class="description">
            We are committed to staying at the forefront of technology. Our experts leverage the
            latest tools to elevate your business's cloud and DevOps capabilities.
          </p>
        </div>

        <div class="container tech-categories">
          <!-- CLOUD PLATFORM -->

          <div class="right">
            <div class="category">
              <h3>Cloud Platforms</h3>
              <div class="tech-items">
                <div class="tech-box">
                  <div class="icon-row">
                    <div class="icon-item">
                      <img src="assets/images/cloud_images/aws.svg" alt="Amazon Web Services" />
                      <p>AWS</p>
                    </div>
                    <div class="icon-item">
                      <img src="assets/images/cloud_images/Azure.svg" alt="Microsoft Azure" />
                      <p>Azure</p>
                    </div>
                    <div class="icon-item">
                      <img
                        src="assets/images/cloud_images/google-icon.svg"
                        alt="Google Cloud Platform"
                      />
                      <p>Google Cloud</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Containerization and Orchestration  -->
            <div class="category Orchestration">
              <h3 class="Containerization">Containerization and Orchestration</h3>
              <div class="tech-items">
                <div class="tech-box">
                  <div class="icon-row">
                    <div class="icon-item">
                      <img
                        src="assets/images/cloud_images/docker-icon-512x438-ga1hb37h 1.svg"
                        alt="Docker"
                      />
                      <p>Docker</p>
                    </div>
                    <div class="icon-item">
                      <img src="assets/images/cloud_images/kubernetes.svg" alt="Kubernetes" />
                      <p>Kubernetes</p>
                    </div>
                    <!-- <div class="icon-item">
                      <img src="assets/images/cloud_images/cicd.svg" alt="CI/CD Tools" />
                      <p>CI/CD Tools</p>
                    </div> -->
                    <div class="icon-item">
                      <img src="assets/images/cloud_images/jenkins 1.svg" alt="Jenkins" />
                      <p>Jenkins</p>
                    </div>
                    <div class="icon-item">
                      <img src="assets/images/cloud_images/git-hub ci-cd.svg" alt="GitLab CI/CD" />
                      <p>CI/CD</p>
                    </div>

                    <!-- <div class="icon-item">
                      <img
                        src="assets/images/cloud_images/circleci-svgrepo-com 1.svg"
                        alt="CircleCI"
                      />
                      <p>CircleCI</p>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="left">
            <!-- Configuration Management -->
            <div class="category Configuration">
              <h3>Configuration Management</h3>
              <div class="tech-items">
                <div class="tech-box">
                  <div class="icon-row">
                    <div class="icon-item">
                      <img src="assets/images/cloud_images/Terraform.svg" alt="Terraform" />
                      <p>Terraform</p>
                    </div>
                    <div class="icon-item">
                      <img src="assets/images/cloud_images/Ansible.svg" alt="Ansible" />
                      <p>Ansible</p>
                    </div>
                    <div class="icon-item">
                      <img src="assets/images/cloud_images/Chef.svg" alt="Chef" />
                      <p>Chef</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="container-fluid category-line">
              <!-- Monitoring and Logging -->
              <div class="category">
                <h3>Monitoring and Logging</h3>
                <div class="tech-items">
                  <div class="tech-box">
                    <div class="icon-row">
                      <div class="icon-item">
                        <img src="assets/images/cloud_images/prometheus.svg" alt="Prometheus" />
                        <p>Prometheus</p>
                      </div>
                      <div class="icon-item">
                        <img src="assets/images/cloud_images/grafana.svg" alt="Grafana" />
                        <p>Grafana</p>
                      </div>
                      <!-- <div class="icon-item">
                        <img src="assets/images/cloud_images/ELK_stack 1.svg" alt="ELK Stack" />
                        <p>ELK Stack</p>
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>

              <!-- Collaboration and Communication -->
              <div class="category">
                <h3>Collaboration and Communication</h3>
                <div class="tech-items">
                  <div class="tech-box">
                    <div class="icon-row">
                      <div class="icon-item">
                        <img
                          src="assets/images/cloud_images/Slack_icon_2019.svg 1.svg"
                          alt="Slack"
                        />
                        <p>Slack</p>
                      </div>
                      <div class="icon-item">
                        <img src="assets/images/cloud_images/trello.svg" alt="Trello" />
                        <p>Trello</p>
                      </div>
                      <div class="icon-item">
                        <img src="assets/images/cloud_images/Jira 1.svg" alt="Jira" />
                        <p>Jira</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
