<!-- hero section -->

<section class="hero-section">
  <div class="hero-section-container">
    <div class="container hero-container-timepass">
      <div class="about-hero-and-story">
        <div class="hero-container">
          <div class="hero-content">
            <h2 class="hero-title" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="500">
              From a Growing Team to
            </h2>
            <h2
              class="hero-subtitle"
              data-aos="fade-up"
              data-aos-duration="1200"
              data-aos-delay="500"
            >
              <strong>a Global Technology Solutions Provider.</strong>
            </h2>
            <p data-aos="fade-up" data-aos-duration="1200" data-aos-delay="500">
              For over a decade, we’ve been a trusted technology partner, empowering businesses to
              scale their businesses and discover opportunities with our next-gen tech initiatives.
            </p>
          </div>
          <div class="hero-image">
            <img
              class="img-fluid"
              src="assets/images/about-page/hero-image.svg"
              alt="Building Image"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- story section -->
<section class="container-fluid story-section-container">
  <div class="bg-color-story-section">
    <div class="story-section">
      <div class="container story-content">
        <h2 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
          <!-- We Started Like This -->
          Our journey began like this.
        </h2>

        <p class="p1" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="500">
          <!-- Founded in 2014, our mission is simple — be the go-to partner fory businesses facing any
          technical challenges with sustainable, future-proof solutions. -->
          Founded in 2014, our mission is simple - to be the trusted partner for businesses
          navigating technical challenges, delivering sustainable and future-proof solutions.
        </p>

        <p class="p2" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="700">
          After 15 years on this journey, both we and our clients agree — we’re great at what we do.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- This is the CEO section  WOrking section  -->

<section class="container-fluid ceo-section-container">
  <section class="bg-second-section">
    <section class="ceo-first-section">
      <section class="ceo-main-section">
        <div class="container">
          <div class="row ceo-row">
            <div class="col-md-6">
              <div class="ceo-text-section">
                <h2 data-aos="fade-right" data-aos-duration="1000" data-aos-delay="300">
                  <strong>Words From Our CEO</strong>
                </h2>

                <img
                  data-aos="fade-up"
                  data-aos-duration="1000"
                  data-aos-delay="300"
                  src="assets/images/about-page/Ceo-line-img.png"
                  alt="Line Image"
                  class="line-img"
                />

                <div class="quote-block">
                  <img
                    data-aos="fade-up"
                    data-aos-duration="1000"
                    data-aos-delay="300"
                    class="quote-img"
                    src="assets/images/about-page/chat1.png"
                    alt="Quote Start Icon"
                  />
                  <p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                    I have seen a company hit a point where going alone is tough—especially with
                    tech. While you constantly strive to grow, scale, and leave a footprint in your
                    industry, those limitations hold you back.
                  </p>
                  <p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                    The thing is, technology changes rapidly. More importantly, every aspect of your
                    business depends on it—from how you serve your customers to how you operate
                    internally. Technology is the backbone that holds everything together.
                  </p>
                  <p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                    So, you need a partner who is committed to innovation. Because, let's be honest,
                    if you don't innovate, you're already falling behind.
                  </p>
                  <p
                    data-aos="fade-up"
                    data-aos-duration="1000"
                    data-aos-delay="300"
                    class="ceo-third-p"
                  >
                    Our mission is simple: to solve your toughest IT challenges and build a
                    scalable, secure ecosystem that keeps you ahead of the curve. We're not here for
                    one-off solutions; we're here for the bigger picture.<img
                      src="assets/images/about-page/chat2.png"
                      alt="Quote End Icon"
                      class="quote-end-img"
                    />
                  </p>
                </div>
                <div
                  data-aos="fade-up"
                  data-aos-duration="1000"
                  data-aos-delay="300"
                  class="ceo-signature"
                >
                  <strong>Saswati Mishra</strong><br />
                  CEO, PRATH TECH
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="ceo-image-section">
                <div class="ceo-image-wrapper zoom-hover">
                  <img
                    src="assets/images/about-page/Ceo-image.svg"
                    alt="CEO Image"
                    class="circle circle-bg"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
  </section>
</section>

<!-- This is the  need more devlopers section  -->
<section class="container-fluid specialist-section-container bg-color-specialist-section">
  <div class="specialist-section">
    <div class="section-header text-center">
      <h2 data-aos="fade-up" data-aos-duration="1200" data-aos-delay="400" class="section-subtitle">
        Need more than <strong>Developers?</strong>
      </h2>

      <p data-aos="fade-up" data-aos-duration="1200" data-aos-delay="400">
        We provide a comprehensive team of specialists, including developers, designers, project
        managers, QA experts, and more.
      </p>
    </div>
  </div>
  <div class="container specialist-slider-wrapper">
    <owl-carousel-o [options]="customOptions" #owlCar>
      <ng-template carouselSlide *ngFor="let role of teamRoles; let i = index">
        <div
          class="card specialist-card fixed-card-size"
          [ngClass]="[
            'bg-' + ((i % teamRoles.length) + 1),
            'color-' + ((i % teamRoles.length) + 1),
          ]"
        >
          <img
            data-aos="fade-up"
            data-aos-duration="1200"
            data-aos-delay="400"
            [src]="role.image"
            [alt]="role.title"
            class="img-fluid ser-box-img"
          />
          <h4
            class="service-title-card"
            data-aos="fade-up"
            data-aos-duration="1200"
            data-aos-delay="400"
            [style.color]="role.color"
          >
            {{ role.title }}
          </h4>
          <p
            class="service-card-description"
            data-aos="fade-up"
            data-aos-duration="1200"
            data-aos-delay="400"
          >
            {{ role.description }}
          </p>
        </div>
      </ng-template>
    </owl-carousel-o>
    <div class="developers-btn">
      <div class="service-section-btn mob-control">
        <button (click)="owlCar.prev()" class="btn service-btn-left">
          <img src="assets/images/service-arrow-left.svg" alt="left arrow" />
        </button>
        <button (click)="owlCar.next()" class="btn service-btn-right">
          <img src="assets/images/service-arrow-right.svg" alt="right arrow" />
        </button>
      </div>
    </div>
  </div>
</section>

<!-- work Section -->
<section class="container-fluid work-section-container">
  <section class="work-section">
    <div class="header">
      <h2 data-aos="fade-up" data-aos-duration="1200" data-aos-delay="400">
        <span>Flexible ways</span> <strong> we can work with you.</strong>
      </h2>
      <p data-aos="fade-up" data-aos-duration="1200" data-aos-delay="400">
        Our project manager and software development teams are building for you
      </p>
    </div>

    <div class="container card-section">
      <owl-carousel-o [options]="customOptions" #owlCard>
        <ng-template carouselSlide *ngFor="let option of workOptions">
          <div class="card">
            <img
              class="img-fluid"
              data-aos="fade-up"
              data-aos-duration="1200"
              data-aos-delay="400"
              [src]="option.image"
              [alt]="option.title"
            />
            <h4
              data-aos="fade-up"
              data-aos-duration="1200"
              data-aos-delay="400"
              [style.color]="option.color"
            >
              {{ option.title }}
            </h4>
            <p data-aos="fade-up" data-aos-duration="1200" data-aos-delay="400">
              {{ option.description }}
            </p>
          </div>
        </ng-template>
      </owl-carousel-o>
      <div class="work-btn">
        <div class="service-section-btn mob-control">
          <button (click)="owlCard.prev()" class="btn service-btn-left">
            <img src="assets/images/service-arrow-left.svg" alt="left arrow" />
          </button>
          <button (click)="owlCard.next()" class="btn service-btn-right">
            <img src="assets/images/service-arrow-right.svg" alt="right arrow" />
          </button>
        </div>
      </div>
    </div>
  </section>
</section>

<!-- clients section -->

<section class="clients-section-container">
  <section class="clients-section">
    <div class="container">
      <div class="clients-container">
        <!-- Left side: Text and arrows -->
        <div class="clients-text">
          <h2 data-aos="fade-up" data-aos-duration="1200" data-aos-delay="400">
            Our <strong>Clients</strong>
          </h2>
          <p data-aos="fade-up" data-aos-duration="1200" data-aos-delay="400">
            We have collaborated with clients from over 10 countries worldwide, including the USA,
            UK, Europe, India, and more.
          </p>
          <p data-aos="fade-up" data-aos-duration="1200" data-aos-delay="400">
            What sets us apart is our commitment to understanding the <br />
            unique needs of each client, regardless of location.
          </p>

          <div class="arrow-buttons">
            <button (click)="prev1()" [disabled]="currentIndex1 === 0">←</button>
            <button (click)="next1()" [disabled]="currentIndex1 + 8 >= allClients.length">→</button>
          </div>
        </div>

        <!-- Right side: Logo Grid -->
        <div class="clients-logos">
          <div class="logo-box" *ngFor="let client of visibleClients">
            <img [src]="client.logo" alt="Client Logo" />
          </div>
        </div>
        <!-- Right side: Carousel for mobile -->
        <!-- <div class="clients-logos logo-carousel d-flex d-md-none">
          <owl-carousel-o [options]="customOptions">
            <ng-container *ngFor="let client of allClients">
              <ng-template carouselSlide>
                <div class="logo-box">
                  <img [src]="client.logo" alt="Client Logo" />
                </div>
              </ng-template>
            </ng-container>
          </owl-carousel-o>
        </div> -->
      </div>
    </div>
  </section>
</section>

<!-- Status section -->
<section class="stats-section" #statsSection>
  <div class="container stats-container">
    <h2 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300" class="stats-title">
      Elevate Your Journey <strong>with Us</strong>
    </h2>

    <div class="stats-grid">
      <div class="stat-card" *ngFor="let stat of stats">
        <div class="stat-row">
          <img class="stat-icon" [src]="stat.icon" alt="icon" />
          <div class="stat-value">
            {{ stat.current | number }}{{ stat.value.includes('+') ? '+' : '' }}
          </div>
        </div>
        <div data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300" class="stat-label">
          {{ stat.label }}
        </div>
      </div>
    </div>
  </div>
</section>

<!-- cta section -->

<section class="cta-section">
  <div class="cta-container">
    <div class="container">
      <div class="row">
        <!-- Text Content -->
        <div class="cta-text">
          <p data-aos="fade-up" data-aos-duration="1200" data-aos-delay="400" class="cta-subtitle">
            100+ companies accelerate their
          </p>
          <p data-aos="fade-up" data-aos-duration="1200" data-aos-delay="400" class="cta-subtitle">
            tech roadmaps with us.
          </p>
          <h2 data-aos="fade-up" data-aos-duration="1200" data-aos-delay="400" class="cta-title">
            See how we can help you.
          </h2>
          <!-- <button class="cta-button">
        Book a Discovery Call
        <span class="cta-arrow">→</span>
      </button> -->
          <button class="cta-button btn-Case" [routerLink]="['/contact']" fragment="contact-form">
            Contact Us<img src="assets/images/btn-arrow.svg" alt="arrow" class="banner-arrow" />
          </button>
        </div>

        <!-- Image/Illustration -->
        <div class="col-md-6 phone-img">
          <div class="cta-image">
            <img
              data-aos="fade-up"
              data-aos-duration="1200"
              data-aos-delay="400"
              src="assets/images/about-page/pana.svg"
              alt="CTA Illustration"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
