<section class="privacy-section" role="main" aria-labelledby="privacy-title">
  <nav aria-label="Breadcrumb" class="breadcrumb">
    <ol>
      <li><a href="/" title="Go to Home page">Home</a></li>
      <li aria-current="page">Privacy Policy</li>
    </ol>
  </nav>
  <h2 id="privacy-title" class="privacy-title">YOUR PRIVACY IS IMPORTANT TO US.</h2>
  <p class="last-updated"><strong>Last Updated:</strong> 01-jan-2025</p>
  <p>
    This Privacy Policy describes how your personal information is collected, used, and shared when
    you visit or fill out a form on
    <a [routerLink]="['/home']" target="_blank" rel="noopener noreferrer">prathtechlab.com</a>
  </p>
  <p>
  PRATH TECH Technologies Limited (previously known as PRATH TECH Private Limited), its subsidiaries and branch
    operations hereinafter referred to as ‘PRATH TECH’, ‘PRATH TECH’, ‘we’, ‘us’ or ‘our’ is committed to
    respect your privacy and choices. This statement highlights our privacy practices regarding
    Personal Information that we collect and store about you through this website,
    <a [routerLink]="['/home']" target="_blank" rel="noopener noreferrer">prathtechlab.com</a>
    and also for those Personal Information that you provide us while filling out forms or
    requesting case studies or similar kinds of resources on our Site.
  </p>
  <h2>INFORMATION WE COLLECT</h2>
  <p>
    For the purposes of this privacy statement, 'Personal Information' is any data which relates to
    an individual who may be identified from that data, or from a combination of a set of data, and
    other information which is in possession of PRATH TECH.
  </p>
  <p>We may collect the following Personal Information:</p>
  <ul>
    <li>Name</li>
    <li>Job Title</li>
    <li>Contact Information including Email address and Phone Number</li>
    <li>Demographic information such as postcode, preferences and interest</li>
    <li>Other information relevant to customer surveys and/or offers</li>
  </ul>
</section>
