h2 {
  font-family: 'Geist', sans-serif !important;
}
p {
  font-family: 'Outfit', sans-serif !important;
  color: #030202;
}

.privacy-section {
  padding: 120px 60px 50px 60px;
  color: #2c2c2c;
  background-color: #f9f9f9;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  font-family: 'Outfit', sans-serif;
  animation: fadeInUp 0.8s ease forwards;

  .privacy-title {
    font-size: 50px;
    font-weight: 700;
    color: #1a1a1a;
    letter-spacing: 3px;
    margin-bottom: 20px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 3px;
      width: 100%;
      background: linear-gradient(135deg, #0a47b9 0%, #763289 60%);
      border-radius: 2px;
      background-size: 200% 100%;
      animation: gradient-slide 4s linear infinite;
    }
    @keyframes gradient-slide {
      0% {
        background-position: 0% 50%;
      }
      100% {
        background-position: 200% 50%;
      }
    }
  }
  .last-updated {
    font-size: 16px;
    margin-bottom: 30px;
    color: #666;
  }

  p {
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 1.25rem;
    color: #444;
    text-align: justify !important;

    a {
      color: #4d1aa8;
      font-weight: 600;
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }

  h2 {
    font-size: 30px;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 20px;
    color: #1a1a1a;
    letter-spacing: 2px;
  }

  ul {
    margin-left: 1.5rem;
    padding-left: 1rem;
    list-style-type: disc;
    color: #444;

    li {
      margin-bottom: 1rem;
      font-size: 18px;
      line-height: 1.5;
    }
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.breadcrumb {
  font-family: 'Outfit', sans-serif;
  //   font-size: 14px;
  //   margin-bottom: 20px;
  color: #666;

  ol {
    list-style: none;
    display: flex;
    gap: 0.5rem;
    padding: 0;
    margin: 0;
  }

  li {
    display: flex;
    align-items: center;
    font-size: 20px;

    &:not(:last-child)::after {
      content: '>';
      margin-left: 0.5rem;
      color: #aaa;
    }

    a {
      color: #333;
      text-decoration: none;
      font-weight: 500;

      &:hover,
      &:focus {
        // text-decoration: underline;
        color: #4d1aa8;
      }
    }

    &[aria-current='page'] {
      color: #333;
      font-weight: 600;
    }
  }
}

@media only screen and (min-width: 300px) and (max-width: 800px) {
  .privacy-title {
    font-size: 30px !important;
  }
  .privacy-section {
    padding: 120px 20px 50px 20px !important;
    color: #2c2c2c;
    background-color: #f9f9f9;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    font-family: 'Outfit', sans-serif;
    animation: fadeInUp 0.8s ease forwards;
  }
}
