.mob-control {
  display: none !important;
}

.pholder {
  //: 'Oswald', sans-serif;
  // font-weight: 400;
  font-size: 100px;

  // color: #E9ECEE;
  color: #f4f2f4;

  z-index: -1;
}

.small-head {
  z-index: 5;
  color: #126dd6;
  font-size: 60px;
  //: 'Geist', sans-serif !important;
}

.why-choose-sec {
  //   padding: 120px 0 60px 0;
  background: url('../../../../public/assets/images/why-bg.png');
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
  z-index: 0;
}

.text-paragraph {
  //: 'Outfit', sans-serif !important;
  font-size: 23px;
  // width: 75%;
  margin: 0 auto;
}

.why-choose-sec h2 {
  z-index: 1 !important;
}

.why-choose-sec h2 {
  background: transparent;
  display: flex;
  text-align: center;
  justify-content: center;
}

.ser-slider {
  padding: 0 20px;
  margin-top: 60px;
}

.serBox {
  padding: 15px 15px;
  padding: 20px;
  // border-radius: 10px;
  color: #333;
  font-style: normal;
}

.serBox:after {
  display: block;
  content: '';
  border-bottom: solid 3px #f24e1e;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
}

.serBox:hover:after {
  transform: scaleX(0);
}

.img-box {
  margin-left: 15px;
  margin-bottom: 15px;
  height: 90px;
  width: 90px;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 30px;
}

.img-box::before {
  content: '';
  position: absolute;
  top: 0;
  left: -15px;
  background: #f5eae0;
  height: 80px;
  width: 80px;
  border-radius: 50px;
  z-index: -1;
}

.main-sec-head {
  display: flex;
  color: #6a28ba;
  font-size: 70px;
  //: 'Geist', sans-serif !important;
  background: #fff;
  z-index: 1;
  padding: 0 20px;
}

.img-box::before {
  content: '';
  position: absolute;
  top: 0;
  left: -15px;
  background: linear-gradient(#eef1ff 0%, #f2e4ff 100%);
  height: 80px;
  width: 80px;
  border-radius: 50px;
  z-index: -1;
  margin-left: 330px;
}

.rotate-left {
  width: 20px;
  transform: rotate(-90deg);
}

.rotate-right {
  width: 20px;
  transform: rotate(90deg);
}

// NEW UPDATE

.services-carousel-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  position: relative;
  // margin-top: 50px;
  padding: 50px;

  .arrow-btn {
    cursor: pointer;
  }

  .services-carousel {
    display: flex;
    gap: 15px;
    // overflow: hidden;
    max-width: 100%;

    .service-card {
      flex: 0 0 calc(25% - 22.5px); // 4 cards per view with 30px gap
      min-width: 250px;
      max-width: 400px;
      // height: 320px;
      box-sizing: border-box;
      transition: transform 0.3s ease;
      // overflow: visible;

      position: relative;
      display: flex;
      flex-direction: column;
      // box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

      img {
        width: 88.53px;
        height: 100px;
        margin-bottom: 15px;
        object-fit: contain;
        margin-top: 10px;
        margin-left: 20px;
        z-index: 2;
      }

      h3 {
        //: 'Geist', sans-serif !important;
        font-size: 26px;
        font-weight: 410;
        margin-bottom: 20px;
        color: #000000;
      }

      p {
        //: 'Outfit', sans-serif !important;
        font-size: 18px;
        flex-grow: 1;
        height: auto;
        width: auto;
        font-weight: 500;
        // overflow: hidden;
        // text-overflow: ellipsis;
        padding: 0;
        margin: 0;
      }

      &:hover {
        transform: translateY(-5px);
      }
    }
  }
}

// img background

.icon-circle {
  background-image: url('../../../../public/assets/images/img-bg-choose-us.png');
  background-repeat: no-repeat;
  margin-top: 10px;
  z-index: -1;
}

// /* =================== MOBILE (≤700px) =================== */

@media only screen and (min-width: 300px) and (max-width: 700px) {
  .icon-circle {
    background-position: center !important;
    // text-align: left;
  }
  .services-carousel {
    text-align: center;
    // display: flex;
    align-items: center;
    justify-content: center;
  }
  .desk-control {
    display: none !important;
  }
  .mob-control {
    display: block !important;
    text-align: center;
  }
  .service-btn-left,
  .service-btn-right {
    margin-top: 10px;
    border: #f24e1e 1px solid;
    color: #f24e1e;
    width: 60px;
    height: 60px;

    &:active {
      border-color: #e03e1a;
      transform: scale(0.95);
    }

    &:hover:not(:disabled) {
      background-color: #ffe3e3;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
  .service-btn-right {
    margin-left: 5px;
  }
  .service-section-btn .mob-control {
    display: flex;
    gap: 5px !important;
    --bs-border-radius: 3px;
  }
  .services-carousel-wrapper {
    // overflow-x: auto;
    scroll-snap-type: x mandatory;
    // -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    position: relative;
    margin-top: 20px;
  }

  .services-carousel {
    display: flex;
    flex-wrap: nowrap;
  }

  .service-card {
    flex: 0 0 100%;
    /* show single card */
    scroll-snap-align: start;
    margin-right: 15px;
  }
  .arrow-btn {
    width: 20px;
    height: auto;
  }

  .pholder {
    text-align: center !important;
    //: 'Oswald', sans-serif;
    font-size: 40px;
    // position: absolute;
    // text-transform: uppercase;
    color: #f4f2f4;
    // text-decoration: uppercase;
    // top: -78px;
    z-index: -1;
  }

  .why-choose-sec {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 10px;
    background: url('../../../../public/assets/images/why-bg.png');
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
    z-index: 0;
  }

  .small-head {
    margin-top: -35px !important;
    text-align: center !important;
    z-index: 5;
    color: #126dd6;
    font-size: 34px;
    //: 'Geist', sans-serif !important;
  }

  .why-choose-sec {
    // padding-top: 110px;
    padding-bottom: 0px;
    // background-image: url('/assets/images/why-bg.png');
    background: url('../../../../public/assets/images/why-bg.png');
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
    z-index: 0;
  }

  .text-paragraph {
    //: 'Outfit', sans-serif !important;
    font-size: 23px;
    // width: 75%;
    margin: 0 auto;
  }

  .why-choose-sec h2 {
    // font-size: 90px !important;
    // letter-spacing: 10px !important;
    z-index: 1 !important;
  }

  .why-choose-sec h2 {
    background: transparent;
    display: flex;
    text-align: center;
    justify-content: center;
    // padding: 0;
    // margin: 0;
  }

  // .why-choose-sec p:not(.serBox p) {
  //   font-size: 23px;
  //   width: 75%;
  //   margin: 0 auto;
  // }

  .ser-slider {
    padding: 0 20px;
    margin-top: 60px;
  }

  .serBox {
    padding: 15px 15px;
    // background: #1c1c1c;
    padding: 20px;
    // border-radius: 10px;
    // text-align: center;
    // color: #F5EAE0;
    color: #333;
    font-style: normal;
  }

  .serBox:after {
    display: block;
    content: '';
    border-bottom: solid 3px #f24e1e;
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
  }

  .serBox:hover:after {
    transform: scaleX(0);
  }

  .img-box {
    margin-left: 15px;
    margin-bottom: 15px;
    height: 90px;
    width: 90px;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 30px;
  }

  .img-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: -15px;
    background: #f5eae0;
    height: 80px;
    width: 80px;
    border-radius: 50px;
    z-index: -1;
  }

  .main-sec-head {
    display: flex;
    color: #6a28ba;
    margin-top: -5px !important;
    font-size: 22px !important;
    //: 'Geist', sans-serif !important;
    background: #fff;
    z-index: 1;
    padding: 0 20px;
  }

  .pro-plat p,
  .why-choose-sec p:not(.serBox p) {
    font-size: 16px !important;
    width: 100% !important;
  }

  .img-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: -15px;
    background: linear-gradient(#eef1ff 0%, #f2e4ff 100%);
    height: 80px;
    width: 80px;
    border-radius: 50px;
    z-index: -1;
    margin-left: 330px;
  }

  .rotate-left {
    width: 20px;
    transform: rotate(-90deg);
  }

  .rotate-right {
    width: 20px;
    transform: rotate(90deg);
  }

  .services-carousel {
    display: flex;
    gap: 30px;
    // overflow: hidden;
    max-width: 100%;

    .service-card {
      flex: 0 0 calc(25% - 22.5px); // 4 cards per view with 30px gap
      min-width: 100% !important;
      // max-width: 400px;
      // height: 320px;
      box-sizing: border-box;
      transition: transform 0.3s ease;
      // overflow: visible;

      position: relative;
      display: flex;
      flex-direction: column;

      img {
        width: 88.53px;
        height: 100px;
        margin-bottom: 15px;
        object-fit: contain;
        margin-top: 10px;
        margin-left: 20px;
        z-index: 2;
      }

      h3 {
        width: 100% !important;
        //: 'Geist', sans-serif !important;
        font-size: 23px !important;
        font-weight: 410;
        margin-bottom: 20px;
        color: #000000;
      }

      p {
        //: 'Outfit', sans-serif !important;
        font-size: 20px !important;
        flex-grow: 1;
        height: auto;
        width: auto;
        font-weight: 500;
        // overflow: hidden;
        // text-overflow: ellipsis;
        padding: 0;
        margin: 0;
      }

      &:hover {
        transform: translateY(-5px);
      }
    }
  }
}

// img background

.icon-circle {
  background-image: url('../../../../public/assets/images/img-bg-choose-us.png');
  background-repeat: no-repeat;
  margin-top: 10px;
  z-index: -1;
}

/* =================== DESKTOP (≥1001px) =================== */
@media (min-width: 1001px) {
  .pholder {
    font-size: 100px !important;
    top: -78px;
  }

  .small-head {
    font-size: 40px !important;
    margin-top: -70px;
  }

  .main-sec-head {
    font-size: 70px !important;
  }

  .text-paragraph {
    // width: 75% !important;
    font-size: 23px !important;
  }

  .services-carousel-wrapper {
    gap: 20px;
  }

  .services-carousel {
    gap: 30px;

    .service-card {
      flex: 0 0 calc(25% - 22.5px);
      max-width: 400px;
      // height: 320px;

      img {
        width: 88.53px !important;
        height: 100px !important;
        margin-left: 20px !important;
      }

      h3 {
        font-size: 27px !important;
        text-align: left;
      }

      p {
        font-size: 18px !important;
        height: auto;
        text-align: left;
        // overflow: hidden;
        // text-overflow: ellipsis;
      }
    }
  }
}

@media only screen and (min-width: 701px) and (max-width: 992px) {
  .small-head {
    margin-top: -35px !important;
    text-align: center !important;
    z-index: 5;
    color: #126dd6;
    font-size: 34px;
    //: 'Geist', sans-serif !important;
  }

  .pholder {
    text-align: center !important;
    //: 'Oswald', sans-serif;
    font-size: 55px !important;
    color: #f4f2f4;
    // top: -78px;
    z-index: -1;
  }
  .main-sec-head {
    display: flex;
    color: #6a28ba;
    margin-top: -5px !important;
    font-size: 32px !important;
    //: 'Geist', sans-serif !important;
    background: #fff;
    z-index: 1;
    padding: 0 20px;
  }
  .text-paragraph {
    font-size: 19px;
  }
  .services-carousel-wrapper .arrow-btn {
    // width: 40px;
    // height: 15px;
    display: none !important;
  }
  .icon-circle {
    background-position: center !important;
    // text-align: left;
  }
  .services-carousel {
    text-align: center;
    // display: flex;
    align-items: center;
    justify-content: center;
  }
  .desk-control {
    display: none !important;
  }
  .mob-control {
    display: block !important;
    text-align: center;
  }
  .service-btn-left,
  .service-btn-right {
    margin-top: 20px;
    border: #f24e1e 1px solid;
    color: #f24e1e;
    width: 60px;
    height: 60px;

    &:active {
      border-color: #e03e1a;
      transform: scale(0.95);
    }

    &:hover:not(:disabled) {
      background-color: #ffe3e3;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
  .service-btn-right {
    margin-left: 5px;
  }
  .service-section-btn .mob-control {
    display: flex;
    gap: 5px !important;
    --bs-border-radius: 3px;
  }
  .services-carousel-wrapper {
    // overflow-x: auto;
    scroll-snap-type: x mandatory;
    // -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    position: relative;
    margin-top: 20px;
  }

  .services-carousel {
    display: flex;
    flex-wrap: nowrap;
  }

  .service-card {
    flex: 0 0 100%;
    /* show single card */
    scroll-snap-align: start;
    margin-right: 15px;
  }
  .arrow-btn {
    width: 20px;
    height: auto;
  }
  .services-carousel-wrapper {
    padding: 0 !important;
  }

  .why-choose-sec {
    padding: 50px 0px 50px 0px;
  }
}

@media only screen and (min-width: 993px) and (max-width: 1050px) {
  .services-carousel-wrapper .arrow-btn {
    // width: 50px;
    // height: 20px;
    display: none;
  }
  .main-sec-head {
    font-size: 38px !important;
  }
  .services-carousel-wrapper .arrow-btn {
    // width: 40px;
    // height: 15px;
    display: none !important;
  }
  .icon-circle {
    // background-position: center !important;
    text-align: left;
  }
  .services-carousel {
    text-align: center;
    // display: flex;
    align-items: center;
    justify-content: center;
  }
  .desk-control {
    display: none !important;
  }
  .mob-control {
    display: block !important;
    text-align: center;
  }
  .service-btn-left,
  .service-btn-right {
    margin-top: 10px;
    border: #f24e1e 1px solid;
    color: #f24e1e;
    width: 60px;
    height: 60px;

    &:active {
      border-color: #e03e1a;
      transform: scale(0.95);
    }

    &:hover:not(:disabled) {
      background-color: #ffe3e3;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
  .service-btn-right {
    margin-left: 5px;
  }
  .service-section-btn .mob-control {
    display: flex;
    gap: 5px !important;
    --bs-border-radius: 3px;
  }
  .services-carousel-wrapper {
    // overflow-x: auto;
    scroll-snap-type: x mandatory;
    // -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    position: relative;
    margin-top: 20px;
  }

  .services-carousel {
    display: flex;
    flex-wrap: nowrap;
  }

  .service-card {
    flex: 0 0 100%;
    /* show single card */
    scroll-snap-align: start;
    margin-right: 15px;
  }
  .arrow-btn {
    width: 20px;
    height: auto;
  }
  .services-carousel-wrapper {
    padding: 0 !important;
  }

  .why-choose-sec {
    padding: 50px 0px 50px 0px;
  }
}
@media only screen and (min-width: 1051px) and (max-width: 1200px) {
  .services-carousel-wrapper .arrow-btn {
    // width: 40px;
    // height: 15px;
    display: none !important;
  }
  .icon-circle {
    // background-position: center !important;
    text-align: left;
  }
  .services-carousel {
    text-align: center;
    // display: flex;
    align-items: center;
    justify-content: center;
  }
  .desk-control {
    display: none !important;
  }
  .mob-control {
    display: block !important;
    text-align: center;
  }
  .service-btn-left,
  .service-btn-right {
    margin-top: 10px;
    border: #f24e1e 1px solid;
    color: #f24e1e;
    width: 60px;
    height: 60px;

    &:active {
      border-color: #e03e1a;
      transform: scale(0.95);
    }

    &:hover:not(:disabled) {
      background-color: #ffe3e3;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
  .service-btn-right {
    margin-left: 5px;
  }
  .service-section-btn .mob-control {
    display: flex;
    gap: 5px !important;
    --bs-border-radius: 3px;
  }
  .services-carousel-wrapper {
    // overflow-x: auto;
    scroll-snap-type: x mandatory;
    // -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    position: relative;
    margin-top: 20px;
  }

  .services-carousel {
    display: flex;
    flex-wrap: nowrap;
  }

  .service-card {
    flex: 0 0 100%;
    /* show single card */
    scroll-snap-align: start;
    margin-right: 15px;
  }
  .arrow-btn {
    width: 20px;
    height: auto;
  }

  .services-carousel-wrapper {
    padding: 0 !important;
  }

  .why-choose-sec {
    padding: 50px 0px 50px 0px;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1500px) {
  .services-carousel-wrapper .arrow-btn {
    // width: 40px;
    // height: 15px;
    display: none !important;
  }
  .icon-circle {
    // background-position: center !important;
    text-align: left;
  }
  .services-carousel {
    text-align: center;
    // display: flex;
    align-items: center;
    // justify-content: center;
  }
  .desk-control {
    display: none !important;
  }
  .mob-control {
    display: block !important;
    text-align: center;
  }
  .service-btn-left,
  .service-btn-right {
    margin-top: 10px;
    border: #f24e1e 1px solid;
    color: #f24e1e;
    width: 60px;
    height: 60px;

    &:active {
      border-color: #e03e1a;
      transform: scale(0.95);
    }

    &:hover:not(:disabled) {
      background-color: #ffe3e3;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
  .service-btn-right {
    margin-left: 5px;
  }
  .service-section-btn .mob-control {
    display: flex;
    gap: 5px !important;
    --bs-border-radius: 3px;
  }
  .services-carousel-wrapper {
    // overflow-x: auto;
    scroll-snap-type: x mandatory;
    // -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    position: relative;
    margin-top: 20px;
  }

  .services-carousel {
    display: flex;
    flex-wrap: nowrap;
  }

  .service-card {
    flex: 0 0 100%;
    /* show single card */
    scroll-snap-align: start;
    margin-right: 15px;
  }
  .arrow-btn {
    width: 20px;
    height: auto;
  }

  .services-carousel-wrapper {
    padding: 0 !important;
  }

  .why-choose-sec {
    padding: 50px 50px 50px 50px;
  }
}
@media only screen and (min-width: 1700px) and (max-width: 2000px) {
}
