// TRY READY SECTION

.ready-sec {
  background-image: url('../../../../public/assets/images/sakhyam/dmsbglast.png');
  // background-size: 1800px 600px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 60px 20px;
}

a {
  color: #0074bd !important;
}

.img-fluid {
  // margin-top: -10px;
  // align-items: center;
  width: 25px;
  height: 15px;
  margin-left: 30px;
}

.container.foot-form {
  margin-top: 40px;
}

.ready-sec .main-sec-head {
  color: #000000;
  //: 'Geist', sans-serif !important;
  font-weight: 100;
  font-size: clamp(20px, 4vw, 60px);
  // width: 670px;
  font-style: thin;
  padding: 0;
  background: transparent;
}

.ready-sec .main-sec-head span {
  font-weight: 700;
  // font-size: 70px;
  font-size: clamp(20px, 3vw, 60px);
  display: block;
}

.ready-sec p {
  //: 'Outfit', sans-serif !important;
  // font-size: 30px;
  font-size: clamp(18px, 4vw, 30px);
  margin-bottom: 0;
  margin-top: 30px;
  font-weight: 400;
  // width: 617px;
}

.form-box {
  height: fit-content;
  // margin-left: 100px;
  padding: 25px 40px;
  border-radius: 10px;
  background: #ffffff;
  border: 1px solid #dadada;
  // height: 520px;
  // width: 700px;
  border-radius: 20px;
}

.form-group {
  margin: 0 0 20px 0;
}

.form-box label {
  //: 'Exo 2', sans-serif !important;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  text-transform: capitalize;
  margin: 0 0 0px 5px;
}

.form-box .form-control {
  background: #f7f7f7;
  border: 1px solid #d3d6da;
  // width: 600px;
  height: 45px;
  padding: 0 20px;
  line-height: 50px;
  border-radius: 10px;
}

.form-box .email-form-control {
  // width: 500px !important;
  border-radius: 10px 0px 0px 10px;
}

.form-control::placeholder {
  // font-family: 'Exo 2', sans-serif !important;
  font-weight: 500;
  font-style: Medium;
  font-size: 22px;
  text-transform: capitalize;
}

.form-box textarea.form-control {
  height: 111px;
  margin-bottom: 20px;
}

.form-box button {
  display: flex;
  align-items: center;
  height: 60px;
  line-height: 60px;
  border-radius: 40px;
  background: linear-gradient(135deg, #0a47b9 0%, #763289 100%);
  padding: 0 30px;
  color: #fff;
  font-size: 20px;
  border: 1px solid #fff;
}

.form-box button:hover {
  color: #fff;
}

.btn-animate:hover .img-fluid {
  transform: rotate(13deg);
  transition: all 0.3s ease-in-out;
}

.otp-btn {
  height: 45px !important;
  width: 100px !important;
  line-height: 20px !important;
  background: linear-gradient(135deg, #2e2c2c 0%, #877676 100%) !important;
  padding: 0 13px !important;
  color: #fff !important;
  // font-size: 17px !important;
  font-size: clamp(15px, 1vw, 20px) !important;
  border: none !important;
  border-radius: 0px 10px 10px 0px !important;
}
.promise {
  color: #0074bd !important;
  text-decoration: underline;
}

/* ========== MOBILE (≤700px) ========== */
@media only screen and (min-width: 300px) and (max-width: 800px) {
  .ready-sec {
    padding: 40px 20px 60px;
    background-size: cover;
    background-position: center top;
  }

  .col-lg-5 {
    align-items: left !important;
  }

  .main-sec-head {
    width: 100% !important;
  }

  .foot-form {
    margin-top: 0px !important;
  }

  .main-sec-head {
    font-size: 24px !important;
    font-weight: 500 !important;
  }

  .main-sec-head span {
    font-size: 32px !important;
  }

  .col-lg-7 {
    margin-top: 40px;
    width: 100% !important;
    padding: 0 10px;
  }

  .ready-sec p {
    width: 100% !important;
    margin-top: 20px;
    text-align: left;
    font-size: 18px !important;
  }

  .form-box {
    margin-left: 0 !important;
    width: 100% !important;
    height: auto;
    padding: 29px 21px;
    border-radius: 15px;
  }

  .form-box label {
    font-size: 21px;
  }

  .form-box .form-control {
    width: 100% !important;
    height: 45px;
    padding: 0 12px;
    line-height: normal;
  }

  .form-box textarea.form-control {
    height: 100px;
    margin-bottom: 15px;
  }

  .form-box button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    border-radius: 30px;
    // padding: 0 20px;
    // margin-top: 10px;
  }

  .img-fluid {
    margin-left: 15px;
    width: 30px;
    height: 12px;
    margin-top: -10px;
  }
  .otp-btn {
    width: 100% !important;
  }
  .alert {
    width: 100% !important;
  }
  .otp-btn {
    width: 46% !important;
  }
}

/* ========== TABLET (701px - 1000px) ========== */
@media (min-width: 701px) and (max-width: 1000px) {
  .col-lg-5,
  .col-lg-7 {
    // margin-top: 60px;
  }

  .form-box {
    // margin-left: 50px;
    width: 100% !important;
    // max-width: 600px;
    height: auto;
  }

  .form-box .form-control {
    width: 100% !important;
    height: 45px;
  }

  .form-box textarea.form-control {
    height: 120px;
  }

  .form-box button {
    height: 55px;
    padding: 0 30px;
  }

  .img-fluid {
    width: 22px;
    height: 13px;
    margin-left: 20px;
  }
  .otp-btn {
    width: 50% !important;
  }
}
