<section class="container-fluid Contact_us_Section">
  <section class="support-section">
    <div class="support-header">
      <h2>Friendly Folks Standing By</h2>
      <p>
        Talk to Real People, Who Listen to Your Requirements, Provide Valuable Inputs,And Promptly
        Resolve Any Issues. <br />
        We’re Here 7 Days A Week.
      </p>
    </div>

    <div class="container support-cards scroll-slider">
      <div
        class="support-card"
        *ngFor="let card of supportCards"
        [style.background]="card.Color"
        [style.border-color]="card.borderColor"
      >
        <img class="support-icons" [src]="card.icon" [alt]="card.title" />
        <h4>{{ card.title }}</h4>
        <p>{{ card.description }}</p>
        <span class="support-button">
          <a
            class="support-btn"
            [routerLink]="card.link"
            [style.border-color]="card.borderColor"
            [fragment]="card.fragment"
          >
            {{ card.button }}
          </a>
        </span>
      </div>
    </div>
  </section>

  <section class="global-presence">
    <div class="left-section">
      <h2>
        Fast-track your
        <br />
        progress with<br /><span>a worldwide partner</span>
      </h2>
    </div>

    <div class="right-section">
      <h4>PRATH TECH Around the World - Our Offices</h4>
      <div class="map-container">
        <img src="assets/images/contact-page/map.png" alt="World Map" />
      </div>

      <span class="map-dot" *ngFor="let dot of mapDots" [ngClass]="dot.class">
        <!-- <i class="fas fa-map-marker-alt"></i> -->
        {{ dot.label }}
        <!-- <span class="tooltip">
          <div class="tooltip-header">{{ dot.label }}</div>
          <div class="tooltip-divider"></div>
          <div class="tooltip-location">{{ dot.location }}</div>
        </span> -->
      </span>
    </div>
  </section>

  <section class="ready-sec section" id="contact-form">
    <div class="container foot-form">
      <div class="row align-items-center">
        <div class="col-lg-5">
          <h2 class="main-sec-head">
            Ready to discuss your toughest
            <span class="tech-span">tech challenges?</span>
            <!-- <span class="tech-span" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">tech
              challenges?</span> -->
          </h2>
          <p>
            Fill out the form and get on a call within 24-48 hours with our product and tech expert.
          </p>
          <p>No account managers - <span class="promise">that's a promise.</span></p>
        </div>

        <div class="col-lg-7">
          <form [formGroup]="contactForm" (ngSubmit)="onSubmit(contactForm.value)" class="form-box">
            <div class="form-group">
              <label>name</label>
              <input type="text" class="form-control" formControlName="name" appLettersOnly />
              <div
                class="err-msgs"
                *ngIf="
                  this.utilsService.checkFormControlValidity(isSubmitClicked, contactForm, 'name')
                "
              >
                <small
                  class="invalid-msgs"
                  *ngIf="contactForm.controls['name']?.errors?.['required']"
                  >Name required.</small
                >
              </div>
            </div>

            <div class="form-group">
              <label>Phone number</label>

              <input
                type="text"
                class="form-control"
                formControlName="number"
                [maxLength]="10"
                [minLength]="10"
                appNumberonly
              />
              <div
                class="err-msgs"
                *ngIf="
                  this.utilsService.checkFormControlValidity(isSubmitClicked, contactForm, 'number')
                "
              >
                <small
                  class="invalid-msgs"
                  *ngIf="contactForm.controls['number']?.errors?.['required']"
                  >Phone number required.</small
                >
                <small
                  class="invalid-msgs"
                  *ngIf="contactForm.controls?.['number']?.errors?.['invalidMobileNumber']"
                >
                  Please enter a valid Mobile Number.</small
                >
                <small
                  class="invalid-msgs"
                  *ngIf="
                    contactForm.controls?.['number']?.errors?.['minlength'] &&
                    !contactForm.controls?.['number']?.errors?.['invalidMobileNumber']
                  "
                  >Mobile No. must be 10 digits.</small
                >
              </div>
            </div>

            <div class="form-group">
              <label>email</label>
              <div class="d-flex">
                <input
                  type="email"
                  class="form-control email-form-control"
                  formControlName="email"
                />
                <button
                  type="button"
                  class="btn otp-btn z-0"
                  [disabled]="
                    !contactForm.controls['email'].invalid && enableEmailBtn
                      ? true
                      : !(!contactForm.controls['email'].invalid || enableEmailBtn)
                  "
                  (click)="showEmailOTPField()"
                >
                  {{
                    isShowEmailOtpField === false
                      ? 'Send
                  OTP'
                      : 'Resend'
                  }}
                </button>
              </div>
              @if (getEmailOtp) {
                <div class="text-end">
                  <span style="color: #6b6b6b"
                    >Resend OTP in
                    <span style="color: red">{{ emailmin + ':' + emailsec }}</span></span
                  >
                </div>
              }
              <div
                class="err-msgs"
                *ngIf="
                  this.utilsService.checkFormControlValidity(isSubmitClicked, contactForm, 'email')
                "
              >
                <small
                  class="invalid-msgs"
                  *ngIf="contactForm.controls['email']?.errors?.['required']"
                  >Valid email is required.</small
                >
                <small
                  class="invalid-msgs"
                  *ngIf="contactForm.controls['email']?.errors?.['invalidEmail']"
                  >Please enter a valid Email ID.</small
                >
              </div>
            </div>

            @if (showOtpField) {
              <div class="form-group">
                <label>OTP</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="otp"
                  [maxLength]="6"
                  [minLength]="6"
                  pattern="[0-9]*"
                  inputmode="numeric"
                  (input)="otpInput($event)"
                />
                <div
                  class="err-msgs"
                  *ngIf="
                    this.utilsService.checkFormControlValidity(isSubmitClicked, contactForm, 'otp')
                  "
                >
                  <small
                    class="invalid-msgs"
                    *ngIf="contactForm.controls['otp']?.errors?.['required']"
                  >
                    OTP required.</small
                  >
                </div>
              </div>
            }

            <div class="form-group">
              <label>About project</label>
              <textarea
                class="form-control center-placeholder mb-0"
                formControlName="message"
                [maxlength]="300"
              ></textarea>
              <div
                class="err-msgs"
                *ngIf="
                  this.utilsService.checkFormControlValidity(
                    isSubmitClicked,
                    contactForm,
                    'message'
                  )
                "
              >
                <small
                  class="invalid-msgs"
                  *ngIf="contactForm.controls['message']?.errors?.['required']"
                  >About Project required</small
                >
              </div>
            </div>

            <button type="submit" class="btn btn-animate">
              Send <img src="assets/images/btn-arrow.svg" alt="" class="img-fluid" />
            </button>
            <div *ngIf="isSubmitSuccess" class="text-center alert alert-success mt-2" role="alert">
              We have received your request and will get back to you shortly.
            </div>
          </form>
          <!-- <form [formGroup]="contactForm" (ngSubmit)="onSubmit(contactForm.value)" class="form-box" >
            <div class="form-group">
              <label>name</label>
              <input type="text" class="form-control" formControlName="name" />
              <div class="err-msgs"
                *ngIf="this.utilsService.checkFormControlValidity(isSubmitClicked, contactForm, 'name')">
                <small class="invalid-msgs" *ngIf="contactForm.controls['name']?.errors?.['required']">Name
                  required.</small>
              </div>
            </div>

            <div class="form-group">
              <label>Phone number</label>
              <input type="text" class="form-control" formControlName="number" [maxLength]="10" [minLength]="10" />
              <div class="err-msgs"
                *ngIf="this.utilsService.checkFormControlValidity(isSubmitClicked, contactForm, 'number')">
                <small class="invalid-msgs" *ngIf="contactForm.controls['number']?.errors?.['required']">Phone
                  number required.</small>
                <small class="invalid-msgs" *ngIf="contactForm.controls?.['number']?.errors?.['invalidMobileNumber']">
                  Please enter a valid Mobile Number.</small>
                <small class="invalid-msgs"
                  *ngIf="contactForm.controls?.['number']?.errors?.['minlength'] && !contactForm.controls?.['number']?.errors?.['invalidMobileNumber']">Mobile
                  No. must be 10 digits.</small>
              </div>
            </div>

            <div class="form-group">
              <label>email</label>
              <div class="d-flex">
                <input type="email" class="form-control email-form-control" formControlName="email" />
                <button type="button" class="btn otp-btn z-0"
                  [disabled]="contactForm.controls['email'].invalid || enableEmailBtn"
                  (click)="showEmailOTPField()">{{isShowEmailOtpField === false ? 'Send
                  OTP' : 'Resend'}}</button>
              </div>
              @if(getEmailOtp) {
              <div class="text-end" >
                <span style="color: #6b6b6b;">Resend OTP in <span style="color: red;">{{emailmin
                    + ':' + emailsec}}</span></span>
              </div> }
              <div class="err-msgs"
                *ngIf="this.utilsService.checkFormControlValidity(isSubmitClicked, contactForm, 'email')">
                <small class="invalid-msgs" *ngIf="contactForm.controls['email']?.errors?.['required']">Valid email is
                  required.</small>
                <small class="invalid-msgs" *ngIf="contactForm.controls['email']?.errors?.['invalidEmail']">Please
                  enter a valid Email ID.</small>
              </div>
            </div>

            @if(getEmailOtp) {
            <div class="form-group">
              <label>OTP</label>
              <input type="text" class="form-control" formControlName="otp" [maxLength]="6" [minLength]="6" />
              <div class="err-msgs"
                *ngIf="this.utilsService.checkFormControlValidity(isSubmitClicked, contactForm, 'otp')">
                <small class="invalid-msgs" *ngIf="contactForm.controls['otp']?.errors?.['required']">
                  OTP required.</small>
              </div>
            </div>
            }

            <div class="form-group">
              <label>About project</label>
              <textarea class="form-control center-placeholder mb-0" formControlName="message"></textarea>
              <div class="err-msgs"
                *ngIf="this.utilsService.checkFormControlValidity(isSubmitClicked, contactForm, 'message')">
                <small class="invalid-msgs" *ngIf="contactForm.controls['message']?.errors?.['required']">About
                  Project
                  required</small>
              </div>
            </div>

            <button type="submit" class="btn btn-animate">
              Send <img src="assets/images/btn-arrow.svg" alt="" class="img-fluid" />
            </button>
            <div *ngIf="isSubmitSuccess" class="text-center alert alert-success mt-2" role="alert">
              We have received your request and will get back to you shortly.
            </div>
          </form> -->
          <!-- <form
            (ngSubmit)="onSubmit()"
            class="form-box"
   
          >
            <div class="form-group">
              <label>name</label>
              <input type="text" class="form-control" formControlName="fullName" />
              <div
                *ngIf="contactForm.get('fullName')?.touched && contactForm.get('fullName')?.invalid"
                class="text-danger"
              >
                Name is required.
              </div>
            </div>

            <div class="form-group">
              <label>Phone number</label>
              <input type="text" class="form-control" formControlName="fullName" />
              <div
                *ngIf="contactForm.get('fullName')?.touched && contactForm.get('fullName')?.invalid"
                class="text-danger"
              >
                Phone number required.
              </div>
            </div>

            <div class="form-group">
              <label>email</label>
              <input type="email" class="form-control" formControlName="email" />
              <div
                *ngIf="contactForm.get('email')?.touched && contactForm.get('email')?.invalid"
                class="text-danger"
              >
                Valid email is required.
              </div>
            </div>

            <div class="form-group">
              <label>About project:</label>
              <textarea
                class="form-control center-placeholder"
                formControlName="projectDescription"
              ></textarea>
              <div
                *ngIf="
                  contactForm.get('projectDescription')?.touched &&
                  contactForm.get('projectDescription')?.invalid
                "
                class="text-danger"
              >
                Project description is required.
              </div>
            </div>

            <button class="btn btn-animate" type="submit">
              Send <img src="assets/images/btn-arrow.svg" alt="" class="img-fluid" />
            </button>
          </form> -->
        </div>
      </div>
    </div>
  </section>
</section>
