.Contact_us_Section {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.support-section {
  padding: 120px 0px 120px 0px;
  background-image: url('../../../public/assets/images/contact-page/Group 141.svg');
  text-align: center;
  //: 'Segoe UI', sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
}

.support-header h2 {
  //: 'Geist', sans-serif !important;
  font-size: 80px;
  text-shadow: #090404;
  font-weight: 500;
  margin-bottom: 20px;
}

.support-header p {
  //: 'Outfit', sans-serif !important;
  font-size: 26px;
  max-width: 4000px;
  margin: 0 auto 40px auto;
  color: #000000;
  text-shadow: #141111;
  font-style: normal;
  font-weight: 400;
}

.support-cards {
  // width: 6000px;
  // padding-left: 120px;
  display: flex;
  // justify-content: center;
  gap: 30px;
}

.support-cards.card4 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.support-card.card-4 {
  border: 2px solid #eab3d7;
  margin-bottom: 80px;
}

.support-card:hover {
  transform: translateY(-10px);
}

.support-card img {
  width: 50px;
  margin-bottom: 15px;
  margin-left: 100px;
}

.support-card h4 {
  //: 'Geist', sans-serif !important;
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 10px;
  color: #000000;
}

.support-card p {
  //: 'Outfit', sans-serif !important;
  font-size: 0.95rem;
  color: #000000;
  margin-bottom: 20px;

  .card-4 p {
    font-size: 0.95rem;
    color: #666;
    margin-bottom: 220px;
  }
}

.support-btn {
  display: inline-block;
  padding: 30px 15px;
  border: 1px solid rgb(161, 216, 226);
  color: rgb(161, 216, 226);
  border-radius: 30px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
  background-color: rgb(161, 216, 226);
  width: 350px;
}

a.support-btn .card-4 {
  padding: 100px;
  margin-top: 100px;
  display: flex;
}

//  New updad suppot-button adn cards
.scroll-slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  // gap: 16px; /* Optional spacing between cards */
  padding: 20px;
}

.scroll-slider::-webkit-scrollbar {
  display: none;
}

// Tring the croll slider

.support-card {
  top: 423px;
  left: 565.48px;
  // angle: -180 deg;
  opacity: 1;
  border-radius: 10px;
  // border-width: 1px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  width: 298px;
  // height: 100%;
  min-height: 380px;
  /* adjust as needed */
  border: 1px solid #eab3d7;
  border-radius: 10px;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2);

  background-color: white;
  transition: transform 0.4s ease;
}

.support-card img {
  margin-top: 10px;
  height: 60px;
  margin-bottom: 10px;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  30% {
    transform: translateY(-10px);
  }

  50% {
    transform: translateY(0);
  }

  70% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0);
  }
}

.support-card h4 {
  font-size: 1.2rem;
  margin: 10px 0;
  animation-delay: 0.2s;
}

.support-card p {
  //: 'Outfit', sans-serif !important;
  flex-grow: 1;
  font-size: 0.95rem;
  color: #000000;
  margin-top: 20px;
  margin-bottom: 20px;
  animation-delay: 0.2s;
}

.support-button {
  margin-top: auto;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.support-btn {
  animation-delay: 0.8s;
  display: inline-block;
  padding: 10px 10px;
  border: 1px solid #6f39db;
  color: #5c28c6;
  background: #f1eaff;

  border-radius: 30px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
}

.support-btn:hover {
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px) scale(1.05);
}

.support-card:nth-child(4) {
}

/* Define the animation globally */
@keyframes slideUpAll {
  0% {
    opacity: 0;
    transform: translateY(40px);
    /* start lower */
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    /* back to normal */
  }
}

/* Apply animation to elements inside support-card */
.support-card:nth-child(4) img,
.support-card:nth-child(4) h4,
.support-card:nth-child(4) p,
.support-card:nth-child(4) .support-button {
  opacity: 0;
  /* hidden before animation */
  animation: slideUpAll 1s ease-out forwards;
}

.support-card:nth-child(4) .support-button {
  justify-content: center;
}

.support-card:nth-child(1) .support-button .support-btn {
  // background: linear-gradient(163.74deg, #cedfff 8.39%, #ddc9ff 99.02%) !important;
  background: linear-gradient(135deg, #0a47b9 0%, #763289 100%);
  color: #ffffff !important;
}

.support-card:nth-child(2) .support-button .support-btn {
  // background: linear-gradient(163.74deg, #d3e5f3 8.39%, #83deff 99.02%) !important;
  background: linear-gradient(135deg, #0a47b9 0%, #763289 100%);
  color: #ffffff !important;
}

.support-card:nth-child(3) .support-button .support-btn {
  // background: linear-gradient(158.92deg, #fff0e2 -0.29%, #ffb09c 94.83%) !important;
  background: linear-gradient(135deg, #0a47b9 0%, #763289 100%);
  color: #ffffff !important;
}

.support-card:nth-child(4) .support-button .support-btn {
  // background: linear-gradient(158.92deg, #fff9e9 -0.29%, #ffd997 94.83%) !important;
  background: linear-gradient(135deg, #0a47b9 0%, #763289 100%);
  color: #ffffff !important;
}

.support-card:nth-child(4) .support-button .support-btn:hover {
  background: linear-gradient(135deg, #0a47b9 0%, #763289 100%);
  color: #ffffff !important;
}

@media screen and (min-width: 1920px) {
  .support-cards {
    justify-content: center;
    max-width: 1600px;
    /* Adjust based on your card width + gaps */
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@keyframes slideUpAll {
  0% {
    opacity: 0;
    transform: translateY(40px);
    /* start lower */
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    /* back to normal */
  }
}

.support-card img,
.support-card h4,
.support-card p,
.support-card .support-button {
  opacity: 0;
  /* hidden before animation */
  animation: slideUpAll 0.8s ease-out forwards;
}

// global section
.global-presence {
  position: relative;
  display: flex;
  // flex-wrap: wrap;
  //: 'Segoe UI', sans-serif;
  background: linear-gradient(166.12deg, #ecf4f4 -22.43%, #d5f0f4 122.35%);
}

.left-section {
  background: linear-gradient(166.12deg, #f2ecf4 -22.43%, #d5def4 122.35%);
  // padding: 5px 0px 20px 110px;
  // padding-left: 110px;
  // padding-top: 70px;
  flex: 1 1 40%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-section h2 {
  //: 'Geist', sans-serif !important;
  font-size: 60px;
  font-weight: 250;
  line-height: 1.3;
  color: #3d1391;
  margin-left: 15;
  //  opacity: 0;
  // animation: slideFromRightCenter 1.2s ease-out forwards;
  // animation-delay: 1s;
}

.left-section h2 span {
  //: 'Geist', sans-serif !important;
  font-weight: 600;
  color: #3d1391;
  font-size: 53px;
  // opacity: 0;
  //  animation: slideFromRightCenter 1.2s ease-out forwards;
  // animation-delay: 1s;
}

.cta-button {
  display: inline-block;
  margin: 25px 0;
  padding: 15px 36px;
  background: linear-gradient(150deg, #0a47b9 0%, #763289 100%);

  color: #ffff;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  transition: all 1s ease-in-out;
}

.cta-button:hover {
  // cursor: all-scroll;
  transform: translateY(-3px) scale(1.03);
  box-shadow: 0 10px 25px rgba(10, 71, 185, 0.5);
  background: linear-gradient(132.06deg, #0a47b9 9.71%, #763289 76.97%);
}

.cta-button .arrow {
  margin-left: 20px;
  margin-right: -15px;
  height: 18px;
  transition: all 1s ease-in-out;
}

.cta-button:hover .arrow {
  margin-left: 20px;
  margin-right: 15px;
  height: 18px;
}

.subtext {
  //: 'Outfit', sans-serif !important;
  max-width: 400px;
  font-size: 18px;
  color: #070404;
  font-weight: 400;
}

.right-section {
  background-color: #fff;
  flex: 2 2 55%;
  position: relative;
}

.right-section h4 {
  //: 'Geist', sans-serif !important;
  padding-top: 15px;
  padding-left: 7px;
  margin-bottom: 20px;
  font-size: 1.1rem;
  color: #111;
  font-weight: 500;
}

.map-container {
  position: relative;
  // background-color: #f4ecff;
  width: 100%;
}

.map-container img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}

/* Map Dots */
.map-dot {
  position: absolute;
  font-size: 0.9rem;
  font-weight: bold;
  color: #000;
}

// .tooltip {
//   visibility: hidden;
//   width: 220px;
//   background-color: rgba(24, 1, 60, 0.537);
//   // color: #000000;
//   text-align: left;
//   border-radius: 6px;
//   padding: 10px 14px;
//   position: absolute;
//   z-index: 20;
//   bottom: 140%; /* bit more space */
//   left: 50%;
//   transform: translateX(-50%) scale(0.8);
//   opacity: 0;
//   transition: opacity 0.25s ease, transform 0.25s ease;
//   pointer-events: none;
//   white-space: normal;
//   word-wrap: break-word;
//   box-shadow: 0 4px 12px rgba(2, 42, 86, 0.63);
//   font-size: 15px;
//   line-height: 1.5;
//   font-weight: 500;
//   //: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
// }

// .tooltip::after {
//   content: '';
//   position: absolute;
//   top: 100%; /* arrow at bottom of tooltip */
//   left: 50%;
//   transform: translateX(-50%);
//   border-width: 8px;
//   border-style: solid;
//   border-color: rgba(50, 50, 50, 0.95) transparent transparent transparent;
//   pointer-events: none;
// }

// .tooltip-header {
//   font-weight: 700;
//   font-size: 20px;
//   letter-spacing: 1.2px;
//   margin-bottom: 6px;
//   color: #ff0000;
// }

// .tooltip-divider {
//   height: 1px;
//   background-color: #666;
//   margin: 0 0 8px 0;
//   border-radius: 1px;
// }

// .tooltip-location {
//   color: #ffffff; /* example different color */
//   font-weight: 600;
//   font-size: 14px;
// }

// .map-dot:hover .tooltip {
//   visibility: visible;
//   opacity: 1;
//   transform: translateX(-50%) scale(1);
//   pointer-events: auto;
// }

.map-dot::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  // background: linear-gradient(132.06deg, #0a47b9 9.71%, #763289 76.97%);
  border-radius: 50%;
  margin-right: 6px;
}

/* Manually position dots (adjust as needed) */
.map-dot.usa {
  top: 35%;
  left: 12%;
}

.map-dot.dubai {
  top: 55%;
  left: 45%;

  .map-dot.dubai :hover {
  }
}

.map-dot.india {
  top: 48%;
  left: 75%;
}

// support button
.support-button {
  display: flex;
}

// media for mobile screen

@media only screen and (min-width: 300px) and (max-width: 800px) {
  .support-section {
    padding: 120px 0px 50px 0px !important;
    text-align: center;
    //: 'Segoe UI', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .support-header h2 {
    //: 'Geist', sans-serif !important;
    font-size: 34px !important;
    text-shadow: #090404;
    font-weight: 500;
    margin-bottom: 0 !important;
    text-align: start;
    padding: 0 10px 10px 20px;
  }

  .support-header p {
    //: 'Outfit', sans-serif !important;
    font-size: 19px;
    text-align: start;
    max-width: 4000px;
    margin: 0 !important;
    color: #000000;
    text-shadow: #141111;
    font-style: normal;
    font-weight: 400;
    padding: 10px 20px 20px 20px;
  }

  .support-card p {
    font-size: 17px;
  }

  .left-section {
    background: linear-gradient(166.12deg, #f2ecf4 -22.43%, #d5def4 122.35%);
    padding: 20px 0 0px 20px !important;
    flex: 1 1 40%;
    background-size: cover;
  }

  .global-presence {
    position: relative;
    display: grid !important;
    //: 'Segoe UI', sans-serif;
    background: linear-gradient(166.12deg, #ecf4f4 -22.43%, #d5f0f4 122.35%);
  }

  .left-section h2 {
    //: 'Geist', sans-serif !important;
    font-size: 34px !important;
    font-weight: 250;
    line-height: 1.3;
    color: #3d1391;
    margin-left: 15;
  }

  .left-section h2 span {
    //: 'Geist', sans-serif !important;
    font-weight: 600;
    color: #3d1391;
    font-size: 35px !important;
  }

  .right-section h4 {
    //: 'Geist', sans-serif !important;
    padding-top: 19px;
    padding-left: 20px !important;
    margin-bottom: 20px;
    font-size: 1.1rem;
    color: #111;
    font-weight: 500;
  }

  .subtext {
    font-size: 19px;
  }
}

.map-dot {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #4d1aa8;
  /* base color */
  border-radius: 50%;
  // position: relative;
  cursor: pointer;

  /* Animation */
  animation: pulse 3s infinite;
}

/* Create a pulse effect with scaling and fading */
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
    box-shadow: 0 0 0 0 rgba(77, 26, 168, 0.7);
  }

  70% {
    transform: scale(1.5);
    opacity: 1;
    box-shadow: 0 0 0 10px rgba(77, 26, 168, 0);
  }

  100% {
    transform: scale(1);
    opacity: 1;
    box-shadow: 0 0 0 0 rgba(77, 26, 168, 0.7);
  }
}

/* Optional: style tooltip visibility */
.map-dot .tooltip {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
  // position: absolute;
  // top: 20px;
  // left: 50%;
  transform: translateX(-50%);
  /* style as needed */
}

.map-dot:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

// Ready section for contact page
// TRY READY SECTION
// TRY READY SECTION
// TRY READY SECTION

// TRY READY SECTION

// TRY READY SECTION

.ready-sec {
  // background-image: url('../../../public/assets/images/sakhyam/dms1stbg.png');
  background: url('../../../public/assets/images/sakhyam/dmsbglast.png');
  // background-size: 1800px 600px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 60px 20px;
}

a {
  color: #0074bd !important;
}

.img-fluid {
  // margin-top: -10px;
  // align-items: center;
  width: 25px;
  height: 15px;
  margin-left: 30px;
}

.container.foot-form {
  margin-top: 40px;
}

.ready-sec .main-sec-head {
  color: #000000;
  //: 'Geist', sans-serif !important;
  font-weight: 100;
  font-size: clamp(20px, 4vw, 60px);
  // width: 670px;
  font-style: thin;
  padding: 0;
  background: transparent;
}

.ready-sec .main-sec-head span {
  font-weight: 700;
  // font-size: 70px;
  font-size: clamp(20px, 4vw, 60px);
  display: block;
}

.ready-sec p {
  //: 'Outfit', sans-serif !important;
  // font-size: 30px;
  font-size: clamp(18px, 4vw, 30px);
  margin-bottom: 0;
  margin-top: 30px;
  font-weight: 400;
  // width: 617px;
}

.form-box {
  height: fit-content;
  // margin-left: 100px;
  padding: 25px 40px;
  border-radius: 10px;
  background: #ffffff;
  border: 1px solid #dadada;
  // height: 520px;
  // width: 700px;
  border-radius: 20px;
}

.form-group {
  margin: 0 0 20px 0;
}

.form-box label {
  //: 'Exo 2', sans-serif !important;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  text-transform: capitalize;
  margin: 0 0 0px 5px;
}

.form-box .form-control {
  background: #f7f7f7;
  border: 1px solid #d3d6da;
  // width: 600px;
  height: 45px;
  padding: 0 20px;
  line-height: 50px;
  border-radius: 10px;
}

.form-box .email-form-control {
  // width: 500px !important;
  border-radius: 10px 0px 0px 10px;
}

.form-control::placeholder {
  //: 'Exo 2', sans-serif !important;
  font-weight: 500;
  font-style: Medium;
  font-size: 22px;
  text-transform: capitalize;
}

.form-box textarea.form-control {
  height: 111px;
  margin-bottom: 20px;
}

.form-box button {
  display: flex;
  align-items: center;
  height: 60px;
  line-height: 60px;
  border-radius: 40px;
  background: linear-gradient(135deg, #0a47b9 0%, #763289 100%);
  padding: 0 30px;
  color: #fff;
  font-size: 20px;
  border: 1px solid #fff;
}

.form-box button:hover {
  color: #fff;
}

.btn-animate:hover .img-fluid {
  transform: rotate(13deg);
  transition: all 0.3s ease-in-out;
}

.otp-btn {
  height: 45px !important;
  width: 100px !important;
  line-height: 20px !important;
  background: linear-gradient(135deg, #2e2c2c 0%, #877676 100%) !important;
  padding: 0 13px !important;
  color: #fff !important;
  // font-size: 17px !important;
  font-size: clamp(15px, 1vw, 20px) !important;
  border: none !important;
  border-radius: 0px 10px 10px 0px !important;
}
.promise {
  color: #0074bd !important;
  text-decoration: underline;
}

/* ========== MOBILE (≤700px) ========== */
@media only screen and (min-width: 300px) and (max-width: 800px) {
  .ready-sec {
    padding: 40px 20px 60px;
    background-size: cover;
    background-position: center top;
  }

  .col-lg-5 {
    align-items: left !important;
  }

  .main-sec-head {
    width: 100% !important;
  }

  .foot-form {
    margin-top: 0px !important;
  }

  .main-sec-head {
    font-size: 24px !important;
    font-weight: 500 !important;
  }

  .main-sec-head span {
    font-size: 32px !important;
  }

  .col-lg-7 {
    margin-top: 40px;
    width: 100% !important;
    padding: 0 10px;
  }

  .ready-sec p {
    width: 100% !important;
    margin-top: 20px;
    text-align: left;
    font-size: 18px !important;
  }

  .form-box {
    margin-left: 0 !important;
    width: 100% !important;
    height: auto;
    padding: 29px 21px;
    border-radius: 15px;
  }

  .form-box label {
    font-size: 21px;
  }

  .form-box .form-control {
    width: 100% !important;
    height: 45px;
    padding: 0 12px;
    line-height: normal;
  }

  .form-box textarea.form-control {
    height: 100px;
    margin-bottom: 15px;
  }

  .form-box button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    border-radius: 30px;
    // padding: 0 20px;
    // margin-top: 10px;
  }

  .img-fluid {
    margin-left: 15px;
    width: 30px;
    height: 12px;
    margin-top: -10px;
  }
  .otp-btn {
    width: 100% !important;
  }
  .alert {
    width: 100% !important;
  }
}

/* ========== TABLET (701px - 1000px) ========== */
@media (min-width: 701px) and (max-width: 1000px) {
  .col-lg-5,
  .col-lg-7 {
    // margin-top: 60px;
  }

  .form-box {
    // margin-left: 50px;
    width: 100% !important;
    // max-width: 600px;
    height: auto;
  }

  .form-box .form-control {
    width: 100% !important;
    height: 45px;
  }

  .form-box textarea.form-control {
    height: 120px;
  }

  .form-box button {
    height: 55px;
    padding: 0 30px;
  }

  .img-fluid {
    width: 22px;
    height: 13px;
    margin-left: 20px;
  }
}
