<section class="indus section">
  <h1 class="pholder text-center w-100">
    INDUSTRIES
    <h4
      class="small-head text-center"
      data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-delay="300"
    >
      Industries
    </h4>
  </h1>

  <h2
    class="main-sec-head text-center"
    data-aos="fade-up"
    data-aos-duration="1000"
    data-aos-delay="300"
  >
    Our Zones of Impact
  </h2>
  <p
    class="text-paragraph text-center"
    data-aos="fade-up"
    data-aos-duration="1000"
    data-aos-delay="300"
  >
    Change is inevitable. With our tech expertise in diverse industries, we help businesses embrace
    change and lead in their sector.
  </p>
</section>

<!-- <div class="content">
  <h4 class="subtitle">Industries</h4>
  <h2 class="title">Our Zones of Impact....</h2>
  <p class="description">
    Change is inevitable. With our tech expertise in diverse industries, we help businesses embrace
    change and lead in their sector.
  </p>
</div> -->
<section class="industry-section">
  <div class="slider">
    <div #zone class="zone education active">
      <h2>Education</h2>
      <p class="learn-more">
        We build digital tools that make learning more engaging and efficient.
      </p>
    </div>
    <div #zone class="zone govt">
      <h2>Govt Services</h2>
      <p class="learn-more">
        We streamline systems to make public services faster and more user-friendly.
      </p>
    </div>

    <div #zone class="zone healthcare">
      <h2>Healthcare</h2>
      <p class="learn-more">We simplify tech so healthcare teams can focus on patient care.</p>
    </div>

    <div #zone class="zone energy">
      <h2>Energy & Utility</h2>
      <p class="learn-more">We optimize operations with smart tech to save time and resources.</p>
    </div>
  </div>

  <!-- Mobile control buttons -->
  <div class="service-section-btn industry-control-buttons mob-control">
    <button (click)="prevZone()" class="btn zone-btn-left">
      <img src="assets/images/service-arrow-left.svg" alt="left arrow" />
    </button>
    <button (click)="nextZone()" class="btn zone-btn-right">
      <img src="assets/images/service-arrow-right.svg" alt="right arrow" />
    </button>
  </div>
</section>
