@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import 'aos/dist/aos.css';

html body {
  overflow-x: hidden;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f7f7f7;
}

::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
  background-color: #0a47b9;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background: #4d1aa8;
}

.invalid-msgs {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

h2,
h3,
h4 {
  font-family: 'Geist', sans-serif !important;
}
p {
  font-family: 'Outfit', sans-serif !important;
}

h1 {
  font-family: 'Oswald', sans-serif;
}
.form-box .email-form-control {
  font-family: 'Outfit', sans-serif !important;
}
.form-box label {
  font-family: 'Outfit', sans-serif !important;
}

// a:focus,
// button:focus,
// input:focus,
// select:focus,
// textarea:focus,
// [tabindex]:focus,
// summary:focus {
//   outline: none; /* Remove default outline */
//   border: 3px solid red; /* Red border on focus */
//   box-shadow: none; /* Remove any default shadow if present */
// }

// *:focus,
// svg:focus,
// svg *:focus {
//   outline: none;
//   border: 3px solid !important;
//   box-shadow: none !important;
// }
